

{{ $data := . }}

{{ $lowerProjectName := lower $data.ProjectName }}

[{
    "filename": "1-project.json",
    "content": {
      "kind": "Project",
      "apiVersion": "project.openshift.io/v1",
      "metadata": {
        "name": "{{$lowerProjectName}}"
      }
    }
}]